/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: larger;
    padding: 1rem 20rem 1rem 20rem;
  }
.footer {
  background: #ebdb00;
  position: absolute;
  bottom: 5%;
  margin: 0 auto;
  width: 100%;

  padding: 10px;
}
.footer p {
  text-align: center;
  color: black;
}
.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer ul li {
  padding: 1.2rem 1rem;
  list-style-type: none;
}
.footer ul li a {
  color: black;
  text-decoration: none;
}


 */
